<div class="foot">
  <div class="foot__left">
    <a class="foot__button button button--action" href="https://platform.telerik.com/#register" target="_blank">
      Start a free trial
    </a>
    <a class="foot__button button" href="http://www.telerik.com/enterprise/request-a-demo" target="_blank">
      Request a demo
    </a>
  </div>

  <div class="foot__right">
    <span>
      Contact us: +1-888-365-2779<br> sales@telerik.com
    </span>

    <span class="foot__trade">
      Copyright &copy; 2016, Progress Software Corporation and/or its subsidiaries or affiliates. All rights reserved.
    </span>
  </div>
</div>