<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        {% if page.description %}<meta name="description" content="{{page.description}}">{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{page.page_title or page.title}} | {% if page.type %}{{ page.type | capitalize_all }}{% else %}Knowledge Base{% endif %} | Telerik Platform</title>
        <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico"/>

        <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet">

        <link href="//tap.cdn.telerik.com/common-ui/documentation-css/201603072/theme-light.min.css" title="light" rel="stylesheet">
        <link href="//tap.cdn.telerik.com/common-ui/documentation-css/201603072/theme-dark.min.css" title="dark" rel="alternate stylesheet">

        <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
        <script src="http://cdn.kendostatic.com/2014.2.716/js/kendo.web.min.js"></script>

        {% javascript styleswitcher %}
        {% javascript prettify %}
        {% javascript app %}
    </head>
    <body>
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id={{site.google_tag_manager}}" height="0" width="0" style="display: none; visibility: hidden">
            </iframe>
        </noscript>
        <script>(function(w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', '{{site.google_tag_manager}}');
        </script>
        <!-- End Google Tag Manager -->

        {% include header.html %}

        {{ content }}

        {% include footer.html %}
    </body>
</html>