---
layout: index
---

<div id="split-v" class="split">
  <div class="pane pane--top">
    {% include header.html %}
  </div>

  <div class="pane pane--middle">
    <div id="split-h" class="split">
      <div class="pane pane--left">
        <div class="nav">

          <a class="nav__head">
            <i class="nav__icon fa fa-info-circle"></i>
            <div class="nav__top">
              <span class="nav__title">{{site.productTagName}}</span>
            </div>
          </a>

          <div class="nav__tree"></div>

          <div class="nav__spacer spacer"></div>

          <script>
              $(".nav__tree").kendoTreeView({
                dataSource: {
                    transport: {
                        read: {
                            url: "{{site.baseurl}}/{{page.category}}.json",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "path",
                            children: "items",
                            hasChildren: "items"
                        }
                    }
                },
                select: preventParentSelection,
                template: navigationTemplate("{{site.baseurl}}/"),
                dataBound: expandNavigation("{{page.url | remove_first: '/' }}")
              });
          </script>
        </div>
      </div>

      <div class="pane pane--center">
        <div class="content">
          <div class="content__head">
            <div class="content__path">
              {% breadcrumb %}
            </div>

            <div class="content__top">
              {% if page.title %}
              <h1 class="content__title">{{ page.title }}</h1>
              {% endif %}
            </div>
          </div>

          <div class="content__article">
            <article class="article article--knowledge">
              {{ content }}
            </article>
          </div>

          <div class="content__spacer spacer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
