---
layout: index
---

<div style="background-color: #5482F5; text-align: center; position: relative; min-height: 40px; color: #FFFFFF; z-index: 1000; padding: 8px 20px; box-sizing: border-box; font-size: 14px; font-weight: bold; line-height: 24px; box-shadow: rgba(0, 0, 0, .15) 0 2px 5px 0;">
<span><i class="fa fa-bullhorn" aria-hidden="true" style="font-size: 23px;padding-right: 15px"></i>The Telerik Platform product is retired.</span><a href="https://www.telerik.com/platform-next-level" target="_blank" style="color: #A9C0FA; border: 1px solid #A9C0FA; padding: 3px 8px; margin-left: 10px; text-decoration: none; white-space: nowrap;">Learn more</a>
</div>
<div id="split-v" class="split">
  <div class="pane pane--top">
    {% include header.html %}
  </div>

  <div class="pane pane--middle">
    <div id="split-h" class="split">
      <div class="pane pane--left">
        <div class="nav">

          <a class="nav__head">
            <i class="nav__icon fa fa-info-circle"></i>
            <div class="nav__top">
              <span class="nav__title">{{site.productTagName}}</span>
            </div>
          </a>

          <div class="nav__tree"></div>

          <div class="nav__spacer spacer"></div>

          <script>
              $(".nav__tree").kendoTreeView({
                dataSource: {
                    transport: {
                        read: {
                            url: "{{site.baseurl}}/{{page.category}}.json",
                            dataType: "json"
                        }
                    },
                    schema: {
                        model: {
                            id: "path",
                            children: "items",
                            hasChildren: "items"
                        }
                    }
                },
                select: preventParentSelection,
                template: navigationTemplate("{{site.baseurl}}/"),
                dataBound: expandNavigation("{{page.url | remove_first: '/' }}")
              });
          </script>
        </div>
      </div>

      <div class="pane pane--center">
        <div class="content">
          <div class="content__head">
            <div class="content__path">
              {% breadcrumb %}
            </div>

            <div class="content__top">
              {% if page.title %}
              <h1 class="content__title">{{ page.title }}</h1>
              {% endif %}
            </div>
          </div>

          <div class="content__article">
            <article class="article article--knowledge">
              {{ content }}
            </article>
          </div>

          <div class="content__spacer spacer"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
